/* RESET DO CSS */
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}


header {
    background-color: rgb(45, 43, 146);
    color: white;
    padding: 74px;
    text-align: center;
}

main{
    background-color: rgb(152, 200, 219);
    color: rgb(0, 0, 0);
    flex: 1;
    padding: 48px 38px;
}

#sobre-mim {
    display: block;
    background-color: rgba(231, 247, 250, 0.678);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 25px;
    
}

#titulo-sobre-mim {
    font-size: 32px;
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(116, 149, 170);
    margin-bottom: 30px;
}
.texto-sobre-mim {
    font-size: 18px;
}